@charset "UTF-8";

.card-heading {
	width: 100%;
	height: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.card-heading img {
	max-width: 100%;
	max-height: 100%;
	border: 1px solid #000000;
}

.card, .card-body, .card-footer {
	background: #4683b5;
	border: 1px solid #000000;
}

.card-body {
	background: #ffffff;
}

@media only screen and (max-width: 510px) {
	* {
		font-size: 0.875rem !important;
	}
	.row, .col-md-4, col-md-8, col-8 {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	.gx-5 {
		-bs-gutter-x: 0;
	}
	.col, .col-8, .col-4, .card-body {
		padding: 0;
	}
	.card {
		border: 1px solid #000000 !important;
	}
}