@charset "UTF-8";

body {
	background: #fdfdfd;
}

.btn-dark {
	background: #21587e;
}

.btn-dark:hover, btn-dark:active, btn-dark:focus, .linkBtn:focus,
	.linkBtn:active {
	background: #174b6e;
}

.table-dark {
	background-color: #21587e;
}

.heading {
	color: #21587e;
}

.card, .card-body, .card-footer {
	background: #4683b5;
}

.card-body {
	background: #ffffff;
}